@font-face {
  font-family: 'titillium-regular';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Regular.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'pfdintextcondpro-light';  
src: url('../fonts/pfdintextcondpro-light.eot');  
src: local('☺'), url('../fonts/pfdintextcondpro-light.woff') 
format('woff'), url('../fonts/pfdintextcondpro-light.ttf') format('truetype'), 
url('../fonts/pfdintextcondpro-light.svg') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'pfdintextcondpro-medium';
src: url('../fonts/pfdintextcondpro-medium.eot');
src: local('☺'), url('../fonts/pfdintextcondpro-medium.woff') format('woff'), 
url('../fonts/pfdintextcondpro-medium.ttf') format('truetype'), 
url('../fonts/pfdintextcondpro-medium.svg') format('svg');
font-weight: normal;
font-style: normal;
}




*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

}
.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;
    }
}

@colorwhite: #ffffff;

.radius(@_radius: 10px, @_bg: #aeaeae){
  border-radius: @_radius;
  background: @_bg;
}

.font-basic(@_font: 'pfdintextcondpro-light', @_size: 16px, @_heigth: none, @_color: @colorwhite){
font-size: @_size;
font-family: @_font;
line-height: @_heigth;
color: @_color;


}
.deportations(@_font: 'pfdintextcondpro-medium', @_size: 24px, @_decor: none, @_color: @colorwhite, @_transform: uppercase, @_bg: #cf0101, @_rad: 4px){
  font-family: @_font;
  font-size: @_size;
  text-decoration: @_decor;
  color: @_color;
  text-transform: @_transform;
  background: @_bg;
  border-radius: @_rad;
}
.elements_style(@_pos: left, @_width: 230px, @_height: 180px){
  float: @_pos;
  width: @_width;
  height: @_height;
}
.fonth2(@_font: comic sans ms, @_size: 42px, @_color: #000000){
  font-family: @_font;
  font-size: @_size;
  color: @_color;
}

body{
  width: 1280px;
  text-align: center;
  margin: 0 auto;
}
hr{
      width: 590px;
      margin: 10px auto;
}

.wrapper, .menu{
  width: 1240px;
  margin: 0 auto;

}
 .header{
  width: 1280px;
  position: fixed;
  background: url(../img/pixel.png);
  .menu{
    .clearfix();
      ul{
        .clearfix();
        float: left;
        margin: 15px auto 15px 130px;
        li{
        list-style-type: none;
        float: left;
        padding: 5px 10px; 
          a{
            .font-basic();
            text-decoration: none;
            text-transform: uppercase;
            padding-right: 40px;

          }       
      }  
    }
    .contakt{
      .clearfix();
      .font-basic();
      float: left;
      p{
        span{
          font-size: 25px;
        }
      }
     .feedback{
       a{

        .deportations(@_size: 16px, @_color: #000000, @_bg: #e67800);
        padding: 1px 13px;
       }
     } 
    }   
  }
 }

.block_1{
  width: 100%;
  height: 650px;
  background: url(../img/baner.png) center no-repeat;
  .wrapper{
      img{
        margin-top: 70px;
      }
  h1{
    font-family: comic sans ms;
    font-size: 40px;
    color: @colorwhite;
    text-transform: uppercase;
    text-shadow: 0px 5px 4px #7b7373, 0 0 1em grey;
    span{
      font-size: 30px;
      font-family: pfdintextcondpro-light;
    }
  }

  form{
    .font-basic(@_color: black);
    .radius();
    position: relative;
    width: 260px;
    margin: 10px auto auto 700px;
    opacity: 0.9;
    p{
      padding-top: 10px;
      text-transform: uppercase;
      span{
        color: red;
      }
    }
    input{
      .radius(@_radius: 6px, @_bg: #d4d4d4);
      margin: 10px;
      font-style: italic;
      padding: 10px 30px;
      text-align: left;

    }
    button{
      padding: 5px 50px;
      .deportations(@_rad: 10px);
      margin: 30px auto;
    }
      
    img{
      position: absolute;
      margin: 70px auto auto -300px;
    }
  }    
  }
}

 .block_2{
  .clearfix();
  .wrapper{
    p{
      .fonth2(@_size: 20px);
    }
    h2{
      margin: 20px auto;
      .fonth2();
      span{
        .fonth2(@_size: 20px);
        opacity: 0.4;
      }
    }
    
    .elements{
      .clearfix();
      h3{
        font-size: 20px;
        font-style: italic;
        font-family: pfdintextcondpro-light;
        margin: 15px auto;
      }
      .elements_img{
        .elements_style();
        margin: 40px;
        p{
          .font-basic(@_size: 18px, @_color: #000000);
        }
      }
    }
    ul{
      .font-basic(@_size: 22px, @_color: #000000);
      margin: 20px auto 30px 350px;
      text-align: left;
      li{
        list-style-type: none;

      }
    }
  }
 }
.block_3{
  .clearfix();
  background: url(../img/baner_block3.png) center no-repeat;
  height: 425px;
  .wrapper{
    h2{
      .fonth2();
    }
    p{
      .font-basic(@_size: 20px, @_color: #000000);
    }

    form{
    width: 260px;
    margin-left: 740px;
    
    input{
      .radius(@_radius: 6px, @_bg: #d4d4d4);
      margin: 2px;
      font-style: italic;
      padding: 10px 30px;
      text-align: left;
      opacity: 0.8;

    }
    button{
      padding: 5px 50px;
      .deportations(@_rad: 10px);
      margin: 5px auto;
     }

    }
    .time{
      margin: 5px auto auto 500px;
    }
  }
}
.block_4{
  .clearfix();
  .wrapper{
    h2{
      .fonth2();
    }
    .elements{
      .clearfix();
      .elements_img{
        margin: 90px;
        .elements_style(@_height: auto);
        p{
          .font-basic(@_size: 18px, @_color: #000000);
        }
      }

    }
  }
}
.block_5{
  .clearfix();
  background: #ece1ff;
  .wrapper{
  h2{
    .fonth2();
  }
  .elements{
    .elements_img{
      .elements_style(@_height: 270px);
      margin: 35px;
      p{
        .font-basic(@_size: 18px, @_color: #000000);
        span{
          font-weight: bold;
        }
      }
    }
   }
   form{
    span{
      .font-basic(@_size:24px, @_color:#000000);
    }
    input{
      .radius(@_radius: 6px, @_bg: #d4d4d4);
      margin: 2px;
      font-style: italic;
      padding: 5px 10px;
      text-align: left;
      opacity: 0.8;
    }
    button{
       padding: 5px 50px;
      .deportations(@_rad: 10px);
      margin: 5px auto;
    }
   }

  }
}

.block_6{
  .clearfix();
  .wrapper{
    .clearfix();
    h2{
      .fonth2();
    }
    .foto_video{
      .clearfix();
      margin: 30px auto;
    .keis{
      margin-left: 175px;
      width: 420px;
      float: left;
    }
    .video{
      width: 420px;
      float: left;
      margin-left: 60px;
      text-align: left;
      span{
        .font-basic(@_color: #000000, @_size: 14px,  @_heigth:24px);
        text-align: left;
      }  
      h4{
        .font-basic(@_color: #000000, @_size: 18px);
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
      }
      p{
        .font-basic(@_color: #000000, @_size: 16px);
        margin: 40px auto 8px 120px;
        font-weight: bold;
        
      }
      img{
        float: right;
      }
    }
  }
  .foto_video2{
    .clearfix();
    margin: 30px auto;
    .video2{
      margin-left: 175px;
      width: 420px;
      float: left;
      h4{
        .font-basic(@_color: #000000, @_size: 18px);
        font-weight: bold;
        text-align: left;
        margin-bottom: 10px;
      }
      span{
        .font-basic(@_color: #000000, @_size: 14px,  @_heigth:24px);
        text-align: left;
        float: left;
      }
      p{
        .font-basic(@_color: #000000, @_size: 16px);
        margin: 40px 300px 8px 0px;
        font-weight: bold;
        float: left;
       } 
      img{
        float: left;
      } 
    }

    .keis2{
      width: 420px;
      float: left;
      margin-left: 60px;
      text-align: left;
    }
   }
    h3{
      .font-basic(@_color: #000, @_size:30px);
      margin: 20px auto;
    }
    a{
      .deportations(@_rad: 7px, @_size: 40px);
      padding: 10px 90px;
    }
    p{
      .font-basic(@_color: #000, @_size:18px);
    }  
    .elements{
      .clearfix();
      margin: 40px auto;
      .clear{
      .clearfix();
      .elements_img{
        .elements_style(@_height: auto, @_width: 300px);
        margin: 40px;
        p{
          .font-basic(@_color: #000, @_size:16px);
          text-align: left;
          margin-left: 20px;
        }
      }
      
     }
     h4{
        .font-basic(@_color: #000, @_size:18px);
        text-transform: uppercase;
      }
      p{
        .font-basic(@_color: #000, @_size:24px);
      }
    }

  }
}
.block_7{
  .clearfix();
  background: url(../img/baner_block_7.png) center no-repeat;
  height: 435px;
  .wrapper{
    .time{
      h3{
        .font-basic(@_font: comic sans ms, @_size:42px);
      }
      p{
       .font-basic(@_size:24px); 
      }
    }
    form{
    width: 260px;
    margin-left: 685px;
    
    input{
      .radius(@_radius: 6px, @_bg: #787878);
      margin: 2px;
      font-style: italic;
      padding: 7px 30px;
      text-align: left;
      opacity: 0.7;
      color: #fff;

    }
    button{
      padding: 3px 50px;
      .deportations(@_rad: 8px);
      margin: 5px auto;
     }

    }
    .time{
      margin: 5px auto auto 390px;
    }
  }
}
.block_8{
  .clearfix();
  .wrapper{
    h2{
      .fonth2();
    }
    .text_img{
      .clearfix();
      .text{
        .font-basic(@_color: #000, @_size:18px, @_heigth:30px);
        .elements_style(@_height: auto, @_width: 530px);
        margin-left: 170px;
        text-align: left;
         }
      }
      .elements{
        margin-left: 150px;
          .elements_img{
          .elements_style(@_height: auto, @_width: 300px);
          .font-basic(@_color: #000, @_size:18px);
          margin: 20px;
        }

      }

   }
}
.block_9{
  .clearfix();
  background: #dceffd;
  .wrapper{
    .clearfix();
    h2{
      .fonth2();
    }
    .elements{
      .clearfix();
      .font-basic(@_color: #000, @_size:20px);
      .radius(@_radius: 10px, @_bg: #fff);
      .elements_img{
        margin: 40px;
        .elements_style(@_height: auto, @_width: 320px);

      }
    }
    .vs{
      .clearfix();
      margin-top: 20px;
      .elements_img{
        .clearfix();
        .elements_style(@_height: auto, @_width: 320px);
        margin: 40px;
        img{
          height: 230px;
        }
      }
      p{
        .font-basic(@_color: #000, @_size:24px);
      }
       hr{
          width: 220px;
      }
      ul{
        li{
          text-align: left;
          margin-left: 50px;
          .font-basic(@_color: #000, @_size:18px, @_heigth:normal);

        }
      }
      .pohod{
        .deportations(@_size: 18px, @_bg: #cf0101, @_rad: 6px);
        margin: 20px auto;
      }
      .restoran{
        .deportations(@_size: 18px, @_bg: #d05902, @_rad: 6px);
        margin: 20px auto;
      }
    }
    .vs_img{
      .elements_style(@_height: auto, @_width: 320px);
      margin: 120px 40px;

    }
    .rezultat{
      .clearfix();
      list-style-type: none;
      margin-left: -20px;
      .font-basic(@_color: #000, @_size: 18px);
      li{
        float: left;
        padding: 1px 140px;
        span{
          font-weight: bold;
        }
      }
    }
  }
}
.block_10{
  .clearfix();
  .wrapper{
    h2{
      .fonth2();
    }

    ul{
      list-style-type: none;
      margin: 30px 120px;
      li{
          width: 500px;
          float: left;
          padding: 20px 50px;
          #ser{
            margin-bottom: 60px;
          }
         a{
          .deportations();
          padding: 5px 50px;
         } 
      }
    }
  }
}
.block_11{
  .clearfix();
  height: 330px;
  background: url(../img/baner_block11.png) center no-repeat;
  .wrapper{
    h2{
      .fonth2(@_color: #fff);
    }
    p{
        .font-basic(@_size: 24px);
    }
    .time{
      float: left;
      margin: 50px auto auto 270px;
    }
    form{
    width: 260px;
    margin: 50px auto auto 675px;
    
    input{
      .radius(@_radius: 6px, @_bg: #787878);
      margin: 2px;
      font-style: italic;
      padding: 7px 30px;
      text-align: left;
      opacity: 0.7;
      color: #fff;

    }
    button{
      padding: 3px 60px;
      .deportations(@_rad: 8px);
      margin: 5px auto;
     }

    } 
    }
  }

.footer{
  .clearfix();
   background: url(../img/baner_footer.png) center no-repeat;
   height: 190px;
  .wrapper{
    .logo{
      float: left;
      margin: 50px auto auto 150px;
      p{
        .font-basic();
      }
    }
   .ask{
      .clearfix();
      .font-basic();
      float: right;
      margin: 50px 150px auto auto;
      h4{
        font-size: 30px;
      }
      p{
        span{
          font-size: 25px;
        }
      }
     .feedback{
       a{
        .deportations(@_size: 16px, @_color: #000000, @_bg: #e67800);
        padding: 1px 13px;
       }
     } 
    }
  }
}